<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ctrl+ Energy</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link th:href="@{css/styles.css}" rel="stylesheet" />
        <link th:href="@{css/meuConsumo/styles.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">


  <!-- Navbar -->
  <th:block th:insert="fragments/topNav.html :: topbar"></th:block>
  <!-- /.navbar -->
        
        <div class="content">

            <div >
                <main>
                    <div class="container-fluid px-4">

	                    <nav aria-label="breadcrumb" style="margin-top: 30px;">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Página Inicial</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Meu Consumo</li>
						  </ol>
						</nav>
                    
                        <h3 class="mt-4">Meu consumo elétrico</h3>

    
						<div class="accordion" id="accordionExample">
						  <div class="accordion-item">
						    <h2 class="accordion-header" id="headingOne">
						      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						        Gráfico
						      </button>
						    </h2>
						    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						      <div class="accordion-body">
                                <div class="row">
                            <div class="col-xl-10">
                                <img src="img/Grafico.jpg" style="width: 640px; margin-left:25%; margin-right:25%;" >
                            </div>
                            
                        </div>
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingTwo">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        Listagem
				      </button>
				    </h2>
				    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				      <div class="accordion-body">

                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Hora Inicial</th>
                                            <th>Hora Final</th>
                                            <th>Tipo de Tarifa</th>
                                            <th>Dia 1 - MW</th>
                                            <th>Dia 2 - MW</th>
                                            <th>Dia 3 - MW</th>
                                            <th>Dia 4 - MW</th>
                                            <th>Dia 5 - MW</th>
                                            <th>Dia 6 - MW</th>
                                            <th>Dia 7 - MW</th>
                                            <th>Dia 8 - MW</th>
                                            <th>Dia 9 - MW</th>
                                            <th>	Dia 10	 - MW	</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Hora Inicial</th>
                                            <th>Hora Final</th>
                                            <th>Tipo de Tarifa</th>
                                            <th>	Dia 1	 - MW	</th>
											<th>	Dia 2	 - MW	</th>
											<th>	Dia 3	 - MW	</th>
											<th>	Dia 4	 - MW	</th>
											<th>	Dia 5	 - MW	</th>
											<th>	Dia 6	 - MW	</th>
											<th>	Dia 7	 - MW	</th>
											<th>	Dia 8	 - MW	</th>
											<th>	Dia 9	 - MW	</th>
											<th>	Dia 10	 - MW	</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
											<td>	18:30:00	</td>
											<td>	19:30:00	</td>
											<td>	P	</td>
											<td>	166,782	</td>
											<td>	202,412	</td>
											<td>	193,564	</td>
											<td>	209,333	</td>
											<td>	103,554	</td>
											<td>	89,251	</td>
											<td>	65,252	</td>
											<td>	111,908	</td>
											<td>	96,349	</td>
											<td>	74,230	</td>
                                        </tr>
                                        <tr>
											<td>	19:30:00	</td>
											<td>	20:30:00	</td>
											<td>	P	</td>
											<td>	127,529	</td>
											<td>	106,892	</td>
											<td>	171,457	</td>
											<td>	92,545	</td>
											<td>	81,916	</td>
											<td>	57,118	</td>
											<td>	55,001	</td>
											<td>	81,847	</td>
											<td>	41,777	</td>
											<td>	47,288	</td>
                                        </tr>
                                        <tr>
											<td>	20:30:00	</td>
											<td>	21:30:00	</td>
											<td>	P	</td>
											<td>	116,613	</td>
											<td>	141,208	</td>
											<td>	146,814	</td>
											<td>	76,605	</td>
											<td>	63,763	</td>
											<td>	49,907	</td>
											<td>	53,654	</td>
											<td>	62,714	</td>
											<td>	41,698	</td>
											<td>	43,823	</td>
                                        </tr>
                                        <tr>
											<td>	21:30:00	</td>
											<td>	22:30:00	</td>
											<td>	I	</td>
											<td>	108,616	</td>
											<td>	109,848	</td>
											<td>	133,722	</td>
											<td>	80,185	</td>
											<td>	68,734	</td>
											<td>	42,424	</td>
											<td>	50,758	</td>
											<td>	60,991	</td>
											<td>	29,547	</td>
											<td>	38,617	</td>
                                        </tr>
                                        <tr>
											<td>	22:30:00	</td>
											<td>	23:30:00	</td>
											<td>	FP	</td>
											<td>	108,259	</td>
											<td>	93,750	</td>
											<td>	112,492	</td>
											<td>	78,597	</td>
											<td>	76,830	</td>
											<td>	37,827	</td>
											<td>	45,117	</td>
											<td>	46,664	</td>
											<td>	26,627	</td>
											<td>	31,199	</td>
                                        </tr>
                                        <tr>
											<td>	23:30:00	</td>
											<td>	0:30:00	</td>
											<td>	FP	</td>
											<td>	106,432	</td>
											<td>	64,777	</td>
											<td>	85,034	</td>
											<td>	65,828	</td>
											<td>	82,194	</td>
											<td>	29,641	</td>
											<td>	38,717	</td>
											<td>	37,555	</td>
											<td>	26,365	</td>
											<td>	38,777	</td>
                                        </tr>
                                        <tr>
											<td>	0:30:00	</td>
											<td>	1:30:00	</td>
											<td>	FP	</td>
											<td>	95,605	</td>
											<td>	36,320	</td>
											<td>	52,149	</td>
											<td>	52,247	</td>
											<td>	77,828	</td>
											<td>	21,936	</td>
											<td>	34,643	</td>
											<td>	34,567	</td>
											<td>	22,889	</td>
											<td>	27,716	</td>
                                        </tr>
                                        <tr>
											<td>	1:30:00	</td>
											<td>	2:30:00	</td>
											<td>	FP	</td>
											<td>	84,579	</td>
											<td>	33,948	</td>
											<td>	51,541	</td>
											<td>	42,186	</td>
											<td>	69,605	</td>
											<td>	20,489	</td>
											<td>	27,727	</td>
											<td>	17,199	</td>
											<td>	27,736	</td>
											<td>	21,742	</td>
                                        </tr>
                                        <tr>
											<td>	2:30:00	</td>
											<td>	3:30:00	</td>
											<td>	FP	</td>
											<td>	84,066	</td>
											<td>	31,247	</td>
											<td>	50,557	</td>
											<td>	38,494	</td>
											<td>	63,388	</td>
											<td>	20,542	</td>
											<td>	26,223	</td>
											<td>	14,619	</td>
											<td>	21,278	</td>
											<td>	13,185	</td>
                                        </tr>
                                        <tr>
											<td>	3:30:00	</td>
											<td>	4:30:00	</td>
											<td>	FP	</td>
											<td>	88,290	</td>
											<td>	33,407	</td>
											<td>	52,111	</td>
											<td>	35,207	</td>
											<td>	61,458	</td>
											<td>	19,246	</td>
											<td>	24,195	</td>
											<td>	16,740	</td>
											<td>	27,271	</td>
											<td>	11,678	</td>
                                        </tr>
                                        <tr>
											<td>	4:30:00	</td>
											<td>	5:30:00	</td>
											<td>	FP	</td>
											<td>	85,085	</td>
											<td>	40,943	</td>
											<td>	50,072	</td>
											<td>	33,151	</td>
											<td>	58,911	</td>
											<td>	25,137	</td>
											<td>	23,674	</td>
											<td>	17,504	</td>
											<td>	19,631	</td>
											<td>	10,603	</td>
                                        </tr>
                                        <tr>
											<td>	5:30:00	</td>
											<td>	6:30:00	</td>
											<td>	FP	</td>
											<td>	90,013	</td>
											<td>	52,282	</td>
											<td>	54,170	</td>
											<td>	35,121	</td>
											<td>	56,261	</td>
											<td>	28,416	</td>
											<td>	23,775	</td>
											<td>	29,008	</td>
											<td>	31,091	</td>
											<td>	21,136	</td>
                                        </tr>
                                        <tr>
											<td>	6:30:00	</td>
											<td>	7:30:00	</td>
											<td>	FP	</td>
											<td>	86,534	</td>
											<td>	80,125	</td>
											<td>	79,161	</td>
											<td>	51,821	</td>
											<td>	55,614	</td>
											<td>	31,555	</td>
											<td>	30,922	</td>
											<td>	46,797	</td>
											<td>	28,765	</td>
											<td>	19,533	</td>
                                        </tr>
                                        <tr>
											<td>	7:30:00	</td>
											<td>	8:30:00	</td>
											<td>	FP	</td>
											<td>	82,510	</td>
											<td>	89,204	</td>
											<td>	70,454	</td>
											<td>	48,345	</td>
											<td>	39,862	</td>
											<td>	49,908	</td>
											<td>	40,310	</td>
											<td>	26,598	</td>
											<td>	30,222	</td>
											<td>	32,825	</td>
                                        </tr>
                                        <tr>
											<td>	8:30:00	</td>
											<td>	9:30:00	</td>
											<td>	FP	</td>
											<td>	84,732	</td>
											<td>	72,829	</td>
											<td>	58,488	</td>
											<td>	53,766	</td>
											<td>	30,482	</td>
											<td>	41,553	</td>
											<td>	36,583	</td>
											<td>	13,309	</td>
											<td>	39,407	</td>
											<td>	14,416	</td>
                                        </tr>
                                        <tr>
											<td>	9:30:00	</td>
											<td>	10:30:00	</td>
											<td>	FP	</td>
											<td>	87,722	</td>
											<td>	80,397	</td>
											<td>	55,501	</td>
											<td>	65,372	</td>
											<td>	31,562	</td>
											<td>	40,097	</td>
											<td>	34,183	</td>
											<td>	21,701	</td>
											<td>	17,066	</td>
											<td>	16,022	</td>
                                        </tr>
                                        <tr>
											<td>	10:30:00	</td>
											<td>	11:30:00	</td>
											<td>	FP	</td>
											<td>	91,560	</td>
											<td>	91,284	</td>
											<td>	67,892	</td>
											<td>	62,654	</td>
											<td>	39,702	</td>
											<td>	50,921	</td>
											<td>	43,079	</td>
											<td>	18,960	</td>
											<td>	23,300	</td>
											<td>	35,862	</td>
                                        </tr>
                                        <tr>
											<td>	11:30:00	</td>
											<td>	12:30:00	</td>
											<td>	FP	</td>
											<td>	112,554	</td>
											<td>	88,929	</td>
											<td>	74,864	</td>
											<td>	60,472	</td>
											<td>	34,548	</td>
											<td>	47,332	</td>
											<td>	52,344	</td>
											<td>	30,421	</td>
											<td>	29,717	</td>
											<td>	31,941	</td>
                                        </tr>
                                        <tr>
											<td>	12:30:00	</td>
											<td>	13:30:00	</td>
											<td>	FP	</td>
											<td>	93,754	</td>
											<td>	87,389	</td>
											<td>	76,714	</td>
											<td>	57,119	</td>
											<td>	34,369	</td>
											<td>	42,669	</td>
											<td>	47,751	</td>
											<td>	22,487	</td>
											<td>	36,891	</td>
											<td>	21,563	</td>
                                        </tr>
                                        <tr>
											<td>	13:30:00	</td>
											<td>	14:30:00	</td>
											<td>	FP	</td>
											<td>	91,273	</td>
											<td>	84,843	</td>
											<td>	56,729	</td>
											<td>	40,713	</td>
											<td>	37,729	</td>
											<td>	41,572	</td>
											<td>	39,343	</td>
											<td>	25,907	</td>
											<td>	29,936	</td>
											<td>	23,497	</td>
                                        </tr>
                                        <tr>
											<td>	14:30:00	</td>
											<td>	15:30:00	</td>
											<td>	FP	</td>
											<td>	94,934	</td>
											<td>	66,871	</td>
											<td>	49,843	</td>
											<td>	51,090	</td>
											<td>	35,366	</td>
											<td>	40,262	</td>
											<td>	36,636	</td>
											<td>	22,215	</td>
											<td>	21,096	</td>
											<td>	16,561	</td>
                                        </tr>
                                        <tr>
											<td>	15:30:00	</td>
											<td>	16:30:00	</td>
											<td>	FP	</td>
											<td>	106,072	</td>
											<td>	64,055	</td>
											<td>	70,290	</td>
											<td>	41,119	</td>
											<td>	31,884	</td>
											<td>	34,655	</td>
											<td>	31,685	</td>
											<td>	18,720	</td>
											<td>	34,104	</td>
											<td>	22,710	</td>
                                        </tr>
                                        <tr>
											<td>	16:30:00	</td>
											<td>	17:30:00	</td>
											<td>	FP	</td>
											<td>	115,881	</td>
											<td>	109,303	</td>
											<td>	93,018	</td>
											<td>	43,537	</td>
											<td>	56,698	</td>
											<td>	38,759	</td>
											<td>	37,241	</td>
											<td>	34,016	</td>
											<td>	32,604	</td>
											<td>	43,677	</td>
                                        </tr>
                                        <tr>
											<td>	17:30:00	</td>
											<td>	18:30:00	</td>
											<td>	I	</td>
											<td>	145,175	</td>
											<td>	229,363	</td>
											<td>	148,675	</td>
											<td>	94,403	</td>
											<td>	77,239	</td>
											<td>	86,758	</td>
											<td>	59,874	</td>
											<td>	91,954	</td>
											<td>	72,813	</td>
											<td>	71,354	</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
						      </div>
						    </div>
						  </div>
						</div>                        
					</div>
            
                        
                    <div class="container-fluid px-4">  
                        <h3 class="mt-4">Vamos melhorar esse consumo?</h3>

						<div class="card" style="width: 100%;margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Medidor inteligente</h5>
						    <div class="row">
						    <p class="card-text col-10">Quer solicitar um medidor inteligente e ter informações em tempo real sobre seu consumo?</p>
						    <button  class="btn btn-sm btn-card col-2" >Saiba Mais...</button>
						        </div>
						  </div>
						</div>
						
						
						<div class="card" style="width: 100%;margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Energia mais barata e limpa</h5>
						     <div class="row">
						    <p class="card-text col-10">Porque não contribuir com o meio ambiente, comprando energia mais barata e limpa?</p>
						    <button  class="btn btn-sm btn-card col-2" >Saiba Mais...</button>
						    </div>
						  </div>
						</div>
						
						
						
						<div class="card" style="width: 100%; margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Equipamentos eletrônicos</h5>
						     <div class="row">
						    <p class="card-text col-10">Será que seus equipamentos eletrônicos estão consumindo mais energia do que necessário?</p>
						    <button  class="btn btn-sm btn-card col-2" >Saiba Mais...</button>
						    </div>
						  </div>
						</div>
						
						
						<div class="card" style="width: 100%;margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title ">Negociar com a Distribuidora</h5>
						    <div class="row">
						    <p class="card-text col-10">Vamos negociar com a Distribuidora? Sugira e receba sugestões para melhorar o consumo.</p>
						    <button  class="btn btn-sm btn-card col-2">Saiba Mais...</button>
						    </div>
						  </div>
						</div>

                    </div>

                </main>
  <!-- Footer -->
 		<th:block th:insert="fragments/footer.html :: footer"></th:block>
  <!-- /.footer -->

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script th:src="@{assets/demo/chart-area-demo.js}"></script>
        <script th:src="@{assets/demo/chart-bar-demo.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script th:src="@{js/datatables-simple-demo.js}"></script>

    </body>
</html>
