<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ctrl+ Energy</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link th:href="@{css/styles.css}" rel="stylesheet" />
        <link th:href="@{css/meuConsumo/styles.css}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link th:href="@{css/negociacao/styles.css}" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">

  <!-- Navbar -->
  <th:block th:insert="fragments/topNav2.html :: topbar"></th:block>
  <!-- /.navbar -->
        
        <div class="content w-75 mx-auto">

            <div >
                <main>
                    <div class="container-fluid px-4">

	                    <nav aria-label="breadcrumb" style="margin-top: 30px;">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a th:href="@{home}">Página Inicial</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Negociação</li>
						  </ol>
						</nav>
                    
                        <h3 class="mt-4" >Painel de Negociação</h3>

					</div>

                    <div class="container-fluid px-4">  
						<div class="card" style="width: 100%;margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Medidor inteligente</h5>
						    <div class="row">
						    <p class="card-text col-7">Quer solicitar um medidor inteligente e ter informações em tempo real sobre seu consumo?</p>
						    <button  class="btn btn-sm btn-card col-2" >Sim</button>
						    <button  class="btn btn-sm btn-card col-2"  style = "margin-left:20px;">Não</button>
						    </div>
						  </div>
						</div>
						<div class="card" style="width: 100%;margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Energia mais barata e limpa</h5>
						     <div class="row">
						    <p class="card-text col-7">Porque não contribuir com o meio ambiente, comprando energia mais barata e limpa?</p>
						    <button  class="btn btn-sm btn-card col-2" >Sim</button>
						    <button  class="btn btn-sm btn-card col-2"  style = "margin-left:20px;">Não</button>
						    </div>
						  </div>
						</div>
						<div class="card" style="width: 100%; margin-bottom:20px;">
						  <div class="card-body">
						    <h5 class="card-title">Equipamentos eletrônicos</h5>
						     <div class="row">
						    <p class="card-text col-7">Gostaria de uma consultoria de nossos técnicos sobre aparelhos com defeito consumindo mais que o necessário?</p>
						    <button  class="btn btn-sm btn-card col-2" >Sim</button>
						    <button  class="btn btn-sm btn-card col-2"  style = "margin-left:20px;">Não</button>
						    </div>
						  </div>
						</div>
						<div class="mb-3">
						  <label for="exampleFormControlTextarea1" class="form-label"><h3 class="mt-4">Deseja solicitar algo?</h3></label>
						  <div class="input-group mb-3">
						  	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						 	 <button class="btn" type="button" id="button-addon2" style="background-color: #637DD9;color:white">Enviar Solicitação</button>
						  </div>
						</div>

				        <div>
				            <div class="popover fade show bs-popover-top  " role="tooltip" id="popover240319" x-placement="top" >
				            	<div class="arrow" style="left: 110px;"></div>
				            	<div class="popover-body invisivel" style="display:none">Fale já com um de nossos atendentes!</div>
				        	</div>
				            <a class="btn mx-1 visivel" href="https://wa.me/" style="background-color:#20c997; text-color:white!important;" id="iconwhatsapp"><i class="fab fa-fw fa-whatsapp visivel"  ></i></a>
				        </div>

                    </div>
                </main>

            </div>
        </div>
        
  <!-- Footer -->
 		<th:block th:insert="fragments/footer.html :: footer"></th:block>
  <!-- /.footer -->
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script th:src="@{assets/demo/chart-area-demo.js}"></script>
        <script th:src="@{assets/demo/chart-bar-demo.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script th:src="@{js/datatables-simple-demo.js}"></script>
       <!-- <script th:src="@{js/negociacao/scripts.js}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
			$(document).ready(function(){
			    $('.visivel').on('mouseover', function() {
				  $('.invisivel').show();
				});
				
				$('.visivel').on('mouseout', function() {
				  $('.invisivel').hide();
				});
			});
        </script>

    </body>
</html>
